<!DOCTYPE html>
  <head>
    <title>{{ page.title }}</title>
	<meta charset="utf-8">	
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="#"></script>
  </head>
  <body>
    <nav>
	  <ul>
	    <li><a href="/">HOME</a></li>
		<li><a href="/blog">BLOG</a></li>
		<li><a href="/portfolio">PORTFOLIO</a></li>
		<li><a href="/about">ABOUT</a></li>
	  </ul>
	</nav>
	
	<div class="container">
          {{ content }}
	</div>
	
	<footer>
	  <h2>Links here</h2>
	</footer>
  </body>
</html>
